<div class="contact">
  <div class="sticker sticker--fill sticker--super-lg">
    <div class="sticker__obj">
      <profile height="180"></profile>
    </div>
  </div>
  <div class="grid-center">
    <h1 class="primary-heading">Contact Me!</h1>
  </div>
  <form class="sliding-form" action="https://briskforms.com/go/00a2eeb0d5f9262fcf936528760a4a7a" method="post">
    <div class="grid-noGutter">
      <div class="col-6_sm-12">
        <div class="sliding-form__field-wrapper">
          <input class="sliding-form__input" type="text" name="name" required/>
          <label>name</label>
        </div>
      </div>
      <div class="col-6_sm-12">
        <div class="sliding-form__field-wrapper">
          <input class="sliding-form__input" name="email" type="text" required/>
          <label>email</label>
        </div>
      </div>
    </div>
    <div class="grid-noGutter">
      <div class="col-12">
        <div class="sliding-form__field-wrapper">
          <textarea class="sliding-form__textarea" type="text" name="comment" required/></textarea>
          <label>comment</label>
        </div>
      </div>
      <div class="col-12">
        <input class="sliding-form__submit" type="submit" value="send">
      </div>
    </div>
  </form>
</div>
<div ng-include="'views/footer.html'"></div>
