<div class="home__row">
  <div class="grid-center">
    <h1 class="row__heading-2">Jay Kariesch</h1>
  </div>
  <div class="grid">
    <div class="col-1"></div>
    <div class="col-6_xs-12 padding-left--md">
      <p>Front-end engineer, bicyclist, founder of <b>WebDevMN</b>, marketing automation expert, ex-digital marketer. I've spent the past three years freelancing as well as working in the Minneapolis startup scene. I'm a huge fan of group code methodologies
        and best practices.</p>
      <br>
      <p>I'm currently looking for new opportunities. I'd love to hear from ya'.</p>

    </div>
    <div class="col-4_xs-12 text-align--right">
      <a href="../img/center-img_1.png" target="_blank">
        <img class="img--tilt img--rounded img--thumb shadow-plane-2" src="../img/jaybuster.jpg" />
      </a>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="grid padding-vertical--lg home__quote-block">
      <div class="home__quote">
        <hr class="home__hr"></hr>
        <h1>"It is possible to commit no mistakes and still lose. That is not a weakness; that is life"</h1>
        <p class="home__quote-attr">-Jean-Luc Picard</p>
        <hr class="home__hr"></hr>
      </div>
  </div>
  <div class="grid home__section">
    <div class="col-1"></div>
    <div class="col-6_sm-12 text-align--center">
      <h1>Things I <i class="ion-heart"></i></h1>
      <ul>
        <li class="home__list"><a class="link--alt" href="https://www.reddit.com/r/RetroFuturism/">Retro Futurism</a></li>
        <li class="home__list">Kayaking</li>
        <li class="home__list"><a class="link--alt" href="http://getbem.com/">BEM</a></li>
        <li class="home__list">Bergman</li>
        <li class="home__list">Photographs</li>
      </ul>
    </div>
    <div class="col-4_sm-12 text-align--center">
      <h1 class="margin-bottom--md">Let's connect.</h1>
      <a href="https://www.linkedin.com/in/jaykariesch">
        <div class="sticker sticker--fill sticker--xlg">
          <div class="sticker__obj">
            <i class="home__social ion-social-linkedin"></i>
          </div>
        </div>
      </a>
    </div>
    <div class="col-1"></div>
  </div>
  <hr class="home__hr"></hr>
  <div class="grid-noGutter padding-vertical--md">
    <div class="col-12 text-align--center">
      <h1>Sometimes I make things apart from applications.</h1>
    </div>
  </div>
  <hr class="home__hr"></hr>
  <div class="grid text-align--center">
    <div class="col-6_lg-12">
      <h2>Like trinkets and doodads.</h2>
      <iframe width="400" height="225" src="https://www.youtube.com/embed/K4MsvYrA1O8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-6_lg-12 text-align--center">
      <h2>and music.</h2>
      <iframe width="400" height="225" src="https://www.youtube.com/embed/QPiiKbglPGA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div ng-include="'views/footer.html'"></div>

</div>
