<div class="top-navbar__content" ng-controller="NavCtrl">
  <div class="sticker sticker--md sticker--fill margin-right--sm">
    <a href="#/" class="navbar__link link--dark sticker__obj"><i class="ion-ios-home"></i></a>
  </div>
  <!-- <div class="sticker sticker--md sticker--fill">
      <a href="#/portfolio" class="navbar__link link--dark sticker__obj"><i class="ion-code"></i></a>
    </div> -->
  <div class="sticker sticker--md sticker--fill margin-right--sm">
    <a href="#/contact" class="navbar__link link--dark sticker__obj"><i class="ion-ios-email"></i></a>
  </div>
  <div class="sticker sticker--md sticker--fill">
    <a ng-click="openTerminalShelf()" class="navbar__link link--dark sticker__obj"><i class="ion-ios-person"></i></a>
  </div>
</div>
