/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.sidebar-is-minimized .view-wrapper {
  margin-left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.sidebar-is-minimized .navbar {
  left: -60px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.sidebar-is-minimized .navbar__position-expander {
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.sidebar-is-minimized .navbar__expander {
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }
  .sidebar-is-minimized .navbar__expander:hover {
    -webkit-transform: scale(1.1) rotate(180deg);
    transform: scale(1.1) rotate(180deg); }
  .sidebar-is-minimized .navbar__expander:after {
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

[class*="grid"] {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 -0.5rem; }

.col,
[class*="col-"] {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0 0.5rem 1rem; }

.col {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%; }

.grid.col,
.grid[class*="col-"] {
  margin: 0;
  padding: 0; }

/************************
    HELPERS SUFFIXES
*************************/
[class*="grid-"][class*="-noGutter"] {
  margin: 0; }
  [class*="grid-"][class*="-noGutter"] > [class*="col"] {
    padding: 0; }

[class*="grid-"][class*="-center"] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

[class*="grid-"][class*="-right"] {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-left: auto; }

[class*="grid-"][class*="-top"] {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start; }

[class*="grid-"][class*="-middle"] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }

[class*="grid-"][class*="-bottom"] {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end; }

[class*="grid-"][class*="-reverse"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

[class*="grid-"][class*="-column"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  [class*="grid-"][class*="-column"] > [class*="col-"] {
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

[class*="grid-"][class*="-column-reverse"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

[class*="grid-"][class*="-spaceBetween"] {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[class*="grid-"][class*="-spaceAround"] {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

[class*="grid-"][class*="-equalHeight"] > [class*="col"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

[class*="grid-"][class*="-noBottom"] > [class*="col"] {
  padding-bottom: 0; }

[class*="col-"][class*="-top"] {
  -ms-flex-item-align: start;
  align-self: flex-start; }

[class*="col-"][class*="-middle"] {
  -ms-flex-item-align: center;
  align-self: center; }

[class*="col-"][class*="-bottom"] {
  -ms-flex-item-align: end;
  align-self: flex-end; }

[class*="col-"][class*="-first"] {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

[class*="col-"][class*="-last"] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

/************************
    GRID BY NUMBER
*************************/
[class*="grid-1"] > .col, [class*="grid-1"] > [class*='col-'] {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

[class*="grid-2"] > .col, [class*="grid-2"] > [class*='col-'] {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

[class*="grid-3"] > .col, [class*="grid-3"] > [class*='col-'] {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

[class*="grid-4"] > .col, [class*="grid-4"] > [class*='col-'] {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

[class*="grid-5"] > .col, [class*="grid-5"] > [class*='col-'] {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  max-width: 20%; }

[class*="grid-6"] > .col, [class*="grid-6"] > [class*='col-'] {
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

[class*="grid-7"] > .col, [class*="grid-7"] > [class*='col-'] {
  -ms-flex-preferred-size: 14.28571%;
  flex-basis: 14.28571%;
  max-width: 14.28571%; }

[class*="grid-8"] > .col, [class*="grid-8"] > [class*='col-'] {
  -ms-flex-preferred-size: 12.5%;
  flex-basis: 12.5%;
  max-width: 12.5%; }

[class*="grid-9"] > .col, [class*="grid-9"] > [class*='col-'] {
  -ms-flex-preferred-size: 11.11111%;
  flex-basis: 11.11111%;
  max-width: 11.11111%; }

[class*="grid-10"] > .col, [class*="grid-10"] > [class*='col-'] {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  max-width: 10%; }

[class*="grid-11"] > .col, [class*="grid-11"] > [class*='col-'] {
  -ms-flex-preferred-size: 9.09091%;
  flex-basis: 9.09091%;
  max-width: 9.09091%; }

[class*="grid-12"] > .col, [class*="grid-12"] > [class*='col-'] {
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

@media screen and (max-width: 80em) {
  [class*="_lg-1"] > .col, [class*="_lg-1"] > [class*='col-'] {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  [class*="_lg-2"] > .col, [class*="_lg-2"] > [class*='col-'] {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  [class*="_lg-3"] > .col, [class*="_lg-3"] > [class*='col-'] {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*="_lg-4"] > .col, [class*="_lg-4"] > [class*='col-'] {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  [class*="_lg-5"] > .col, [class*="_lg-5"] > [class*='col-'] {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%; }
  [class*="_lg-6"] > .col, [class*="_lg-6"] > [class*='col-'] {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*="_lg-7"] > .col, [class*="_lg-7"] > [class*='col-'] {
    -ms-flex-preferred-size: 14.28571%;
    flex-basis: 14.28571%;
    max-width: 14.28571%; }
  [class*="_lg-8"] > .col, [class*="_lg-8"] > [class*='col-'] {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
    max-width: 12.5%; }
  [class*="_lg-9"] > .col, [class*="_lg-9"] > [class*='col-'] {
    -ms-flex-preferred-size: 11.11111%;
    flex-basis: 11.11111%;
    max-width: 11.11111%; }
  [class*="_lg-10"] > .col, [class*="_lg-10"] > [class*='col-'] {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%; }
  [class*="_lg-11"] > .col, [class*="_lg-11"] > [class*='col-'] {
    -ms-flex-preferred-size: 9.09091%;
    flex-basis: 9.09091%;
    max-width: 9.09091%; }
  [class*="_lg-12"] > .col, [class*="_lg-12"] > [class*='col-'] {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }

@media screen and (max-width: 64em) {
  [class*="_md-1"] > .col, [class*="_md-1"] > [class*='col-'] {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  [class*="_md-2"] > .col, [class*="_md-2"] > [class*='col-'] {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  [class*="_md-3"] > .col, [class*="_md-3"] > [class*='col-'] {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*="_md-4"] > .col, [class*="_md-4"] > [class*='col-'] {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  [class*="_md-5"] > .col, [class*="_md-5"] > [class*='col-'] {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%; }
  [class*="_md-6"] > .col, [class*="_md-6"] > [class*='col-'] {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*="_md-7"] > .col, [class*="_md-7"] > [class*='col-'] {
    -ms-flex-preferred-size: 14.28571%;
    flex-basis: 14.28571%;
    max-width: 14.28571%; }
  [class*="_md-8"] > .col, [class*="_md-8"] > [class*='col-'] {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
    max-width: 12.5%; }
  [class*="_md-9"] > .col, [class*="_md-9"] > [class*='col-'] {
    -ms-flex-preferred-size: 11.11111%;
    flex-basis: 11.11111%;
    max-width: 11.11111%; }
  [class*="_md-10"] > .col, [class*="_md-10"] > [class*='col-'] {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%; }
  [class*="_md-11"] > .col, [class*="_md-11"] > [class*='col-'] {
    -ms-flex-preferred-size: 9.09091%;
    flex-basis: 9.09091%;
    max-width: 9.09091%; }
  [class*="_md-12"] > .col, [class*="_md-12"] > [class*='col-'] {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }

@media screen and (max-width: 48em) {
  [class*="_sm-1"] > .col, [class*="_sm-1"] > [class*='col-'] {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  [class*="_sm-2"] > .col, [class*="_sm-2"] > [class*='col-'] {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  [class*="_sm-3"] > .col, [class*="_sm-3"] > [class*='col-'] {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*="_sm-4"] > .col, [class*="_sm-4"] > [class*='col-'] {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  [class*="_sm-5"] > .col, [class*="_sm-5"] > [class*='col-'] {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%; }
  [class*="_sm-6"] > .col, [class*="_sm-6"] > [class*='col-'] {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*="_sm-7"] > .col, [class*="_sm-7"] > [class*='col-'] {
    -ms-flex-preferred-size: 14.28571%;
    flex-basis: 14.28571%;
    max-width: 14.28571%; }
  [class*="_sm-8"] > .col, [class*="_sm-8"] > [class*='col-'] {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
    max-width: 12.5%; }
  [class*="_sm-9"] > .col, [class*="_sm-9"] > [class*='col-'] {
    -ms-flex-preferred-size: 11.11111%;
    flex-basis: 11.11111%;
    max-width: 11.11111%; }
  [class*="_sm-10"] > .col, [class*="_sm-10"] > [class*='col-'] {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%; }
  [class*="_sm-11"] > .col, [class*="_sm-11"] > [class*='col-'] {
    -ms-flex-preferred-size: 9.09091%;
    flex-basis: 9.09091%;
    max-width: 9.09091%; }
  [class*="_sm-12"] > .col, [class*="_sm-12"] > [class*='col-'] {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }

@media screen and (max-width: 35.5em) {
  [class*="_xs-1"] > .col, [class*="_xs-1"] > [class*='col-'] {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  [class*="_xs-2"] > .col, [class*="_xs-2"] > [class*='col-'] {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  [class*="_xs-3"] > .col, [class*="_xs-3"] > [class*='col-'] {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*="_xs-4"] > .col, [class*="_xs-4"] > [class*='col-'] {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  [class*="_xs-5"] > .col, [class*="_xs-5"] > [class*='col-'] {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%; }
  [class*="_xs-6"] > .col, [class*="_xs-6"] > [class*='col-'] {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*="_xs-7"] > .col, [class*="_xs-7"] > [class*='col-'] {
    -ms-flex-preferred-size: 14.28571%;
    flex-basis: 14.28571%;
    max-width: 14.28571%; }
  [class*="_xs-8"] > .col, [class*="_xs-8"] > [class*='col-'] {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
    max-width: 12.5%; }
  [class*="_xs-9"] > .col, [class*="_xs-9"] > [class*='col-'] {
    -ms-flex-preferred-size: 11.11111%;
    flex-basis: 11.11111%;
    max-width: 11.11111%; }
  [class*="_xs-10"] > .col, [class*="_xs-10"] > [class*='col-'] {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%; }
  [class*="_xs-11"] > .col, [class*="_xs-11"] > [class*='col-'] {
    -ms-flex-preferred-size: 9.09091%;
    flex-basis: 9.09091%;
    max-width: 9.09091%; }
  [class*="_xs-12"] > .col, [class*="_xs-12"] > [class*='col-'] {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }

/************************
    COLS SIZES
*************************/
[class*='grid'] > [class*="col-1"] {
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

[class*='grid'] > [class*="col-2"] {
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

[class*='grid'] > [class*="col-3"] {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

[class*='grid'] > [class*="col-4"] {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

[class*='grid'] > [class*="col-5"] {
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

[class*='grid'] > [class*="col-6"] {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

[class*='grid'] > [class*="col-7"] {
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

[class*='grid'] > [class*="col-8"] {
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

[class*='grid'] > [class*="col-9"] {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

[class*='grid'] > [class*="col-10"] {
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

[class*='grid'] > [class*="col-11"] {
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

[class*='grid'] > [class*="col-12"] {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

[class*="grid"] > [data-push-left*="off-0"] {
  margin-left: 0; }

[class*="grid"] > [data-push-left*="off-1"] {
  margin-left: 8.33333%; }

[class*="grid"] > [data-push-left*="off-2"] {
  margin-left: 16.66667%; }

[class*="grid"] > [data-push-left*="off-3"] {
  margin-left: 25%; }

[class*="grid"] > [data-push-left*="off-4"] {
  margin-left: 33.33333%; }

[class*="grid"] > [data-push-left*="off-5"] {
  margin-left: 41.66667%; }

[class*="grid"] > [data-push-left*="off-6"] {
  margin-left: 50%; }

[class*="grid"] > [data-push-left*="off-7"] {
  margin-left: 50%; }

[class*="grid"] > [data-push-left*="off-8"] {
  margin-left: 58.33333%; }

[class*="grid"] > [data-push-left*="off-9"] {
  margin-left: 66.66667%; }

[class*="grid"] > [data-push-left*="off-10"] {
  margin-left: 75%; }

[class*="grid"] > [data-push-left*="off-11"] {
  margin-left: 83.33333%; }

[class*="grid"] > [data-push-left*="off-12"] {
  margin-left: 91.66667%; }

[class*="grid"] > [data-push-right*="off-0"] {
  margin-right: 0; }

[class*="grid"] > [data-push-right*="off-1"] {
  margin-right: 8.33333%; }

[class*="grid"] > [data-push-right*="off-2"] {
  margin-right: 16.66667%; }

[class*="grid"] > [data-push-right*="off-3"] {
  margin-right: 25%; }

[class*="grid"] > [data-push-right*="off-4"] {
  margin-right: 33.33333%; }

[class*="grid"] > [data-push-right*="off-5"] {
  margin-right: 41.66667%; }

[class*="grid"] > [data-push-right*="off-6"] {
  margin-right: 50%; }

[class*="grid"] > [data-push-right*="off-7"] {
  margin-right: 50%; }

[class*="grid"] > [data-push-right*="off-8"] {
  margin-right: 58.33333%; }

[class*="grid"] > [data-push-right*="off-9"] {
  margin-right: 66.66667%; }

[class*="grid"] > [data-push-right*="off-10"] {
  margin-right: 75%; }

[class*="grid"] > [data-push-right*="off-11"] {
  margin-right: 83.33333%; }

[class*="grid"] > [data-push-right*="off-12"] {
  margin-right: 91.66667%; }

@media screen and (max-width: 80em) {
  [class*='grid'] > [class*="_lg-1"] {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_lg-2"] {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_lg-3"] {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_lg-4"] {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_lg-5"] {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_lg-6"] {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_lg-7"] {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_lg-8"] {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_lg-9"] {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_lg-10"] {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_lg-11"] {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_lg-12"] {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  [class*="grid"] > [data-push-left*="_lg-0"] {
    margin-left: 0; }
  [class*="grid"] > [data-push-left*="_lg-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-left*="_lg-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-left*="_lg-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-left*="_lg-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-left*="_lg-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-left*="_lg-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_lg-7"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_lg-8"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-left*="_lg-9"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-left*="_lg-10"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-left*="_lg-11"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-left*="_lg-12"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_lg-0"] {
    margin-right: 0; }
  [class*="grid"] > [data-push-right*="_lg-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-right*="_lg-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-right*="_lg-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-right*="_lg-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-right*="_lg-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-right*="_lg-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_lg-7"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_lg-8"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-right*="_lg-9"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-right*="_lg-10"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-right*="_lg-11"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-right*="_lg-12"] {
    margin-right: 91.66667%; } }

@media screen and (max-width: 64em) {
  [class*='grid'] > [class*="_md-1"] {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_md-2"] {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_md-3"] {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_md-4"] {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_md-5"] {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_md-6"] {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_md-7"] {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_md-8"] {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_md-9"] {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_md-10"] {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_md-11"] {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_md-12"] {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  [class*="grid"] > [data-push-left*="_md-0"] {
    margin-left: 0; }
  [class*="grid"] > [data-push-left*="_md-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-left*="_md-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-left*="_md-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-left*="_md-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-left*="_md-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-left*="_md-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_md-7"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_md-8"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-left*="_md-9"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-left*="_md-10"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-left*="_md-11"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-left*="_md-12"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_md-0"] {
    margin-right: 0; }
  [class*="grid"] > [data-push-right*="_md-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-right*="_md-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-right*="_md-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-right*="_md-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-right*="_md-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-right*="_md-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_md-7"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_md-8"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-right*="_md-9"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-right*="_md-10"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-right*="_md-11"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-right*="_md-12"] {
    margin-right: 91.66667%; } }

@media screen and (max-width: 48em) {
  [class*='grid'] > [class*="_sm-1"] {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_sm-2"] {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_sm-3"] {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_sm-4"] {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_sm-5"] {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_sm-6"] {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_sm-7"] {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_sm-8"] {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_sm-9"] {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_sm-10"] {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_sm-11"] {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_sm-12"] {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  [class*="grid"] > [data-push-left*="_sm-0"] {
    margin-left: 0; }
  [class*="grid"] > [data-push-left*="_sm-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-left*="_sm-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-left*="_sm-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-left*="_sm-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-left*="_sm-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-left*="_sm-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_sm-7"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_sm-8"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-left*="_sm-9"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-left*="_sm-10"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-left*="_sm-11"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-left*="_sm-12"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_sm-0"] {
    margin-right: 0; }
  [class*="grid"] > [data-push-right*="_sm-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-right*="_sm-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-right*="_sm-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-right*="_sm-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-right*="_sm-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-right*="_sm-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_sm-7"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_sm-8"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-right*="_sm-9"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-right*="_sm-10"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-right*="_sm-11"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-right*="_sm-12"] {
    margin-right: 91.66667%; } }

@media screen and (max-width: 35.5em) {
  [class*='grid'] > [class*="_xs-1"] {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_xs-2"] {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_xs-3"] {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_xs-4"] {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_xs-5"] {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_xs-6"] {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_xs-7"] {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_xs-8"] {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_xs-9"] {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_xs-10"] {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_xs-11"] {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_xs-12"] {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  [class*="grid"] > [data-push-left*="_xs-0"] {
    margin-left: 0; }
  [class*="grid"] > [data-push-left*="_xs-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-left*="_xs-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-left*="_xs-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-left*="_xs-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-left*="_xs-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-left*="_xs-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_xs-7"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_xs-8"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-left*="_xs-9"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-left*="_xs-10"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-left*="_xs-11"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-left*="_xs-12"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_xs-0"] {
    margin-right: 0; }
  [class*="grid"] > [data-push-right*="_xs-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-right*="_xs-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-right*="_xs-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-right*="_xs-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-right*="_xs-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-right*="_xs-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_xs-7"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_xs-8"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-right*="_xs-9"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-right*="_xs-10"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-right*="_xs-11"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-right*="_xs-12"] {
    margin-right: 91.66667%; } }

.flex--vert-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }

.margin-left--sm {
  margin-left: 12px; }

.margin-left--md {
  margin-left: 24px; }

.margin-left--lg {
  margin-left: 48px; }

.margin-right--sm {
  margin-right: 12px; }

.margin-right--md {
  margin-right: 24px; }

.margin-right--lg {
  margin-right: 48px; }

.margin-top--sm {
  margin-top: 12px; }

.margin-top--md {
  margin-top: 24px; }

.margin-top--lg {
  margin-top: 48px; }

.margin-bottom--sm {
  margin-bottom: 12px; }

.margin-bottom--md {
  margin-bottom: 24px; }

.margin-bottom--lg {
  margin-bottom: 48px; }

.padding-vertical--sm {
  padding-top: 12px;
  padding-bottom: 12px; }

.padding-vertical--md {
  padding-top: 24px;
  padding-bottom: 24px; }

.padding-vertical--lg {
  padding-top: 48px;
  padding-bottom: 48px; }

.padding-horizontal--sm {
  padding-left: 12px;
  padding-right: 12px; }

.padding-horizontal--md {
  padding-left: 24px;
  padding-right: 24px; }

.padding-horizontal--lg {
  padding-left: 48px;
  padding-right: 48px; }

.padding-left--sm {
  padding-left: 12px; }

.padding-left--md {
  padding-left: 24px; }

.padding-left--lg {
  padding-left: 48px; }

.padding-right--sm {
  padding-right: 12px; }

.padding-right--md {
  padding-right: 24px; }

.padding-right--lg {
  padding-right: 48px; }

.padding-top--sm {
  padding-top: 12px; }

.padding-top--md {
  padding-top: 24px; }

.padding-top--lg {
  padding-top: 48px; }

.padding-bottom--sm {
  padding-bottom: 12px; }

.padding-bottom--md {
  padding-bottom: 24px; }

.padding-bottom--lg {
  padding-bottom: 48px; }

@media (min-width: 480px) {
  .hide-up--sm {
    display: none !important; } }

@media (min-width: 768px) {
  .hide-up--md {
    display: none !important; } }

@media (max-width: 480px) {
  .hide-down--sm {
    display: none !important; } }

@media (max-width: 768px) {
  .hide-down--md {
    display: none !important; } }

@-webkit-keyframes card-tilt {
  0% {
    -webkit-transform: rotate3d(1, 160, 1, 15deg);
    transform: rotate3d(1, 160, 1, 15deg);
    box-shadow: 5px 2px 8px 0px rgba(0, 0, 0, 0.3); }
  25% {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5); }
  50% {
    -webkit-transform: rotate3d(0, -100, 1, -5deg);
    transform: rotate3d(0, -100, 1, -5deg);
    box-shadow: -5px 2px 8px 0px rgba(0, 0, 0, 0.3); }
  75% {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5); }
  100% {
    -webkit-transform: rotate3d(1, 160, 0, 15deg);
    transform: rotate3d(1, 160, 0, 15deg);
    box-shadow: 5px 2px 8px 0px rgba(0, 0, 0, 0.3); } }

@keyframes card-tilt {
  0% {
    -webkit-transform: rotate3d(1, 160, 1, 15deg);
    transform: rotate3d(1, 160, 1, 15deg);
    box-shadow: 5px 2px 8px 0px rgba(0, 0, 0, 0.3); }
  25% {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5); }
  50% {
    -webkit-transform: rotate3d(0, -100, 1, -5deg);
    transform: rotate3d(0, -100, 1, -5deg);
    box-shadow: -5px 2px 8px 0px rgba(0, 0, 0, 0.3); }
  75% {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5); }
  100% {
    -webkit-transform: rotate3d(1, 160, 0, 15deg);
    transform: rotate3d(1, 160, 0, 15deg);
    box-shadow: 5px 2px 8px 0px rgba(0, 0, 0, 0.3); } }

*,
*:before,
*:after {
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 16px; }

body {
  background: #eaeaea;
  color: #2c3e46;
  font-family: 'Roboto', sans-serif; }

.view-wrapper {
  margin-top: 80px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 768px) {
    .view-wrapper {
      margin-left: 80px;
      margin-top: 0; } }

ng-view {
  width: 100%; }
  @media (min-width: 768px) {
    ng-view {
      padding-right: 280px; } }
  @media (min-width: 1100px) {
    ng-view {
      padding-right: 480px; } }

.font-size--xxxlg {
  font-size: 2.125rem;
  font-weight: 300;
  line-height: 2.625rem; }

h1, h2 {
  padding: 24px 0; }

h1 {
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 2.25rem; }

h2 {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.875rem; }

h3 {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem; }

h4 {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem; }

p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px; }

.light {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 24px; }

ul {
  padding: 12px 0;
  position: relative; }

li {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 30px; }
  li.bullet {
    padding-left: 24px;
    position: relative; }
    li.bullet:before {
      position: relative;
      content: '\f109';
      font-family: Ionicons;
      padding-right: 12px; }

img {
  max-width: 100%;
  height: auto; }

.img--circle {
  border-radius: 50%; }

.img--rounded {
  border-radius: 4px; }

.img--thumb {
  width: 100%; }
  @media (min-width: 568px) {
    .img--thumb {
      width: 320px; } }

.img--tilt {
  -webkit-animation: card-tilt 8s infinite;
  animation: card-tilt 8s infinite; }

.primary-heading {
  position: relative;
  display: table;
  margin-bottom: 48px; }
  .primary-heading:after {
    background-color: #0092B2;
    bottom: 16px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%; }

.shadow-plane-2 {
  box-shadow: 0 1px 16px 0px rgba(0, 0, 0, 0.4); }

.text-align--right {
  text-align: right; }

.text-align--left {
  text-align: left; }

.text-align--center {
  text-align: center; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #2c3e46; }
  a:visited {
    color: #2c3e46; }
  a:hover, a:focus {
    color: #0092B2; }

a.link {
  color: #0092B2; }
  a.link:visited {
    color: #0092B2; }
  a.link:hover, a.link:focus {
    color: #77C4D3; }
  a.link--alt {
    position: relative; }
    a.link--alt:after {
      background-color: #0092B2;
      bottom: -3px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    a.link--alt:hover:after {
      bottom: -5px; }
  a.link--dark {
    color: #DAEDE2; }
    a.link--dark:visited {
      color: #DAEDE2; }
    a.link--dark:hover, a.link--dark:focus {
      color: #77C4D3; }

.sliding-form__input, .sliding-form__textarea {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  font-weight: 300;
  outline: none;
  border: 0;
  font-size: 14px;
  color: #2c3e46;
  padding: 5px 20px;
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.sliding-form__input:focus, .sliding-form__textarea:focus {
  background: white;
  border-top: 30px solid #0092B2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.sliding-form__field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .sliding-form__field-wrapper label {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 12px;
    z-index: 2;
    font-size: 14px;
    pointer-events: none;
    color: #4a6875;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%; }

.sliding-form__input {
  width: 50%;
  display: inline-block; }
  .sliding-form__input:hover, .sliding-form__input:active {
    background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .sliding-form__input:focus {
    width: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .sliding-form__input:valid {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.sliding-form__textarea {
  width: 50%;
  height: 300px; }
  .sliding-form__textarea:hover, .sliding-form__textarea:active {
    background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .sliding-form__textarea:focus {
    -webkit-box-flex: 2;
    -ms-flex: 2 2;
    flex: 2 2;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .sliding-form__textarea:valid {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.sliding-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: none;
  background: #0092B2;
  padding: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  cursor: pointer; }
  .sliding-form__submit:hover {
    background: #003e4c;
    color: white; }

form .sliding-form__field-wrapper input[type="text"]:valid, form .sliding-form__field-wrapper input[type="email"]:valid, form .sliding-form__field-wrapper textarea[type="text"]:valid {
  border-top: 30px solid #0092B2; }

form .sliding-form__field-wrapper textarea[type="text"]:valid ~ label, form .sliding-form__field-wrapper input[type="email"]:valid ~ label, form .sliding-form__field-wrapper input[type="text"]:valid ~ label {
  font-style: italic;
  font-size: 14px;
  top: 7px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  color: #DAEDE2; }

form .sliding-form__field-wrapper input[type="text"]:focus ~ label, form .sliding-form__field-wrapper input[type="email"]:focus ~ label, form .sliding-form__field-wrapper textarea[type="text"]:focus ~ label {
  font-size: 14px;
  color: #DAEDE2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 7px;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.sail-boat:before, .sail-boat:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  position: absolute; }

.sail-boat {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 50px solid #fff;
  border-left: 80px solid transparent;
  border-right: 20px solid transparent;
  -webkit-transform: rotate(122deg);
  transform: rotate(122deg);
  position: relative;
  opacity: 1;
  margin-bottom: 40px; }
  .sail-boat:before {
    border-bottom: 40px solid #fff;
    border-right: 80px solid transparent;
    -webkit-transform: rotate(-123deg);
    transform: rotate(-123deg);
    bottom: -5px;
    left: -55px;
    opacity: .3; }
  .sail-boat:after {
    border-bottom: 50px solid #fff;
    border-right: 80px solid transparent;
    -webkit-transform: rotate(-244deg);
    transform: rotate(-244deg);
    bottom: -13px;
    left: -103px; }

.cursor:after {
  content: '|';
  -webkit-animation: 0.8s infinite flicker;
  animation: 0.8s infinite flicker; }

@-webkit-keyframes flicker {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes flicker {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes wake {
  from {
    width: 120px;
    height: 120px; }
  to {
    width: 180px;
    height: 180px;
    opacity: 0; } }

@keyframes wake {
  from {
    width: 120px;
    height: 120px; }
  to {
    width: 180px;
    height: 180px;
    opacity: 0; } }

a .sticker {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  a .sticker:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 6px solid #537585;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    -webkit-animation: wake 2s infinite;
    animation: wake 2s infinite; }
  a .sticker:hover {
    box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    a .sticker:hover i {
      color: white; }
  a .sticker--fill {
    position: relative; }
    a .sticker--fill:hover {
      background: #537585; }

.sticker {
  border-radius: 50%;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .sticker--fill {
    background: #223036; }
  .sticker--outline {
    border: 1px solid #007d99; }
  .sticker--sm {
    width: 24px;
    height: 24px; }
  .sticker--md {
    width: 48px;
    height: 48px; }
  .sticker--lg {
    width: 60px;
    height: 60px; }
  .sticker--xlg {
    width: 120px;
    height: 120px; }
  .sticker--super-lg {
    width: 300px;
    height: 300px; }
  .sticker__obj {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

.card {
  cursor: pointer;
  width: 100%;
  height: 200px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: white;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
  z-index: 2; }
  @media (min-width: 480px) {
    .card {
      -webkit-box-flex: 1;
      -ms-flex: 1 1;
      flex: 1 1; } }
  .card:last-child {
    margin-right: 0; }
  .card:hover {
    -webkit-animation: none;
    animation: none; }
  .card--dark {
    background: #2c3e46; }
  .card--light {
    background: #b5bfbe; }
  .card svg {
    width: 120px; }

.terminal {
  color: white;
  font-family: 'Ubuntu Mono';
  width: 90%;
  overflow: auto;
  position: fixed;
  z-index: 10;
  right: -500px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .terminal p {
    font-size: 16px;
    line-height: 18px; }
  @media (min-width: 768px) {
    .terminal {
      right: 0;
      top: 0;
      width: 280px;
      visibility: visible;
      opacity: 1;
      border-left: 1px solid white; } }
  @media (min-width: 1100px) {
    .terminal {
      width: 480px; } }
  .terminal__wrap {
    padding: 24px;
    background: #2c3e46;
    height: 100vh;
    overflow: auto; }
  .terminal.is-open {
    right: 0;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%; }
  .terminal__bar {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    @media (min-width: 768px) {
      .terminal__bar {
        height: 36px; } }
    .terminal__bar .bar__decor {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 36px;
      background: #0092B2; }
    .terminal__bar .bar__circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 12px;
      box-shadow: 1px 1px 0.1px 0 rgba(0, 0, 0, 0.8); }
      .terminal__bar .bar__circle:first-of-type {
        margin-left: 12px; }
      .terminal__bar .bar__circle--green {
        background: green; }
      .terminal__bar .bar__circle--red {
        background: red; }
      .terminal__bar .bar__circle--yellow {
        background: yellow; }
  .terminal__headline {
    margin-bottom: 12px; }
  .terminal__block {
    margin-bottom: 12px; }
  .terminal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .terminal__cursor {
    padding-right: 6px; }
  .terminal__input {
    background: transparent;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    border: 0;
    outline: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    display: inline-block; }
  .terminal__timestamp {
    color: #e800ff;
    margin-right: 6px; }
  .terminal__primary-color {
    color: #7bff0a; }
  .terminal__secondary-color {
    color: #0090ff; }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.navbar {
  height: 100%;
  width: 80px;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 113;
  background: #0092B2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .navbar__position-expander {
    position: fixed;
    top: 50%;
    left: 62px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .navbar__expander {
    position: relative;
    background: #2c3e46;
    border: 3px solid #eaeaea;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .navbar__expander:hover {
      cursor: pointer;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.3);
      border: none; }
      .navbar__expander:hover:after {
        -webkit-animation: none;
        animation: none; }
    .navbar__expander:after {
      font-family: Ionicons;
      content: '\f361';
      position: absolute;
      color: #eaeaea;
      font-size: 24px;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
      display: block;
      -webkit-animation: blink 2s infinite;
      animation: blink 2s infinite; }
  .navbar__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  .navbar__link {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    text-align: center;
    font-size: 32px; }

@media (max-width: 768px) {
  .top-navbar {
    z-index: 112;
    height: 80px;
    background: #0091b1;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100%);
    color: white;
    padding-left: 24px;
    padding-right: 24px; }
    .top-navbar__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 24px; }
    .top-navbar__title {
      text-transform: uppercase;
      font-weight: 200;
      margin-right: 12px; } }

.footer {
  color: #DAEDE2;
  height: 140px;
  background: #2c3e46;
  margin-top: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__copyright {
    margin-right: 24px; }

.home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 480px) {
    .home {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .home__radio {
    display: none; }
  .home__row {
    position: absolute;
    opacity: 0;
    top: -1200px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 0;
    display: block;
    width: 100%;
    background: white;
    left: 0;
    padding-top: 680px; }
    @media (min-width: 480px) {
      .home__row {
        padding-top: 280px; } }
    .home__row--dark {
      background: #2c3e46; }
    .home__row .row__heading-2 {
      position: relative;
      display: table;
      margin-bottom: 48px; }
      .home__row .row__heading-2:after {
        background-color: #0092B2;
        bottom: 16px;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%; }
    .home__row .row__tools-img {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      .home__row .row__tools-img svg {
        max-height: 80px;
        width: 80%; }
  .home__quote {
    font-style: italic;
    text-align: center; }
  .home__list {
    font-size: 16px; }
  .home__section {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    position: relative;
    padding: 48px 0;
    margin: 60px 0;
    min-height: 420px;
    background: url("../img/pattern.png") repeat center fixed;
    color: #2c3e46;
    text-shadow: 1px 1px 0 white; }
    .home__section h1 {
      font-weight: 600; }
    .home__section:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 72px solid transparent;
      border-right: 72px solid transparent;
      border-top: 48px solid #fff;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .home__hr {
    height: 1px;
    border: none;
    width: 260px;
    background: #8fb3af;
    margin: 24px auto; }
  .home__social {
    font-size: 48px;
    color: #DAEDE2; }
  .home__heading {
    border-left: 5px solid #0092B2;
    padding-left: 12px;
    display: table;
    margin: 0 auto; }
  .home #leadpages-card {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-right: 0; }
  .home #leadpages-desc:checked ~ #leadpages-card {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 3;
    margin-right: 11px; }
    @media (min-width: 480px) {
      .home #leadpages-desc:checked ~ #leadpages-card {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }
  .home #center-desc:checked ~ #center-card {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 3;
    margin-right: 11px; }
    @media (min-width: 480px) {
      .home #center-desc:checked ~ #center-card {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }
  .home #jay-desc:checked ~ #jay-card {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 3;
    margin-right: 11px; }
    @media (min-width: 480px) {
      .home #jay-desc:checked ~ #jay-card {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }
  .home #leadpages-desc:checked ~ #leadpages-blurb > .home__row {
    opacity: 1;
    top: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: auto;
    top: 0; }
  .home #center-desc:checked ~ #center-blurb > .home__row {
    opacity: 1;
    top: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: auto;
    top: 0; }
  .home #jay-desc:checked ~ #jay-blurb > .home__row {
    opacity: 1;
    top: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: auto;
    top: 0; }

.header {
  height: 500px;
  width: 100%;
  background: #0092B2; }

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px; }
