$brand-primary: #0092B2;
$brand-secondary: #77C4D3;
$brand-tertiary: #DAEDE2;

$brand-quadernary: #eaeaea;

$ui-dark: #2c3e46;
$ui-light: #b5bfbe;
$ui-green: #57b953;

$border-light: #525971;

$dark-accent: #9cb5bb;
