<div class="home__row">
  <div class="grid-center">
    <h1 class="row__heading-2">Center</h1>
  </div>
  <div class="grid">
    <div class="col-1"></div>
    <div class="col-6_xs-12 padding-left--md">
      <p>After many design and data iterations, a minimum viable product was born. Center is a one-stop integration hub, allowing users to connect their marketing stack, track leads as they travel through the pipeline, and store lead data.</p>
      <br>
      <p>Myself and a small team were elected to make Center a tangible product, giving us the opportunity to implement methodologies and structure to create a maintainable code base. On top of using BEM and ES6, we created an internal CSS/Sass framework to improve PR velocity and code quality. No need to recreate the wheel, right?</p>
      <p>The framework of Center was Aurelia + Gulp to begin with, but we eventually moved toward Webpack for bundling. If you haven't used Aurelia, I highly recommend it.</p>
    </div>
    <div class="col-4_xs-12 text-align--right">
      <a href="../img/center-img_1.png" target="_blank">
        <img class="img--thumb shadow-plane-2" src="../img/center-img_1.png" />
      </a>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="grid padding-vertical--lg">
    <div class="col-6_xs-12 text-align--center">
      <h1>A fresh approach.</h1></div>
    <div class="col-6_md-6"></div>
  </div>
  <div class="grid">
    <div class="col-12">
      <img class="shadow-plane-2" src="../img/center-gif_1.gif" />
    </div>
  </div>
  <div class="grid padding-vertical--lg">
    <hr class="home__hr"></hr>
    <div class="col-12 text-align--center ppadding-vertical--md">
      <h1>Cutting edge technologies.</h1>
    </div>
    <hr class="home__hr"></hr>
  </div>
  <div class="grid padding-horizontal--lg">
    <div class="col-3_sm-4">
      <div class="row__tools-img npm">
        <npm></npm>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <aurelia></aurelia>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <bitbucket></bitbucket>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <git></git>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <es6></es6>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <webpack></webpack>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <sass></sass>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <jenkins></jenkins>
      </div>
    </div>
  </div>
  <div ng-include="'views/footer.html'"></div>
</div>
