<div class="home__row">
  <div class="grid-center">
    <h1 class="row__heading-2">Leadpages</h1>
  </div>
  <div class="grid">
    <div class="col-1"></div>
    <div class="col-4_xs-12 text-align--right">
      <a href="../img/lp_main.png" target="_blank">
        <img class="img--thumb shadow-plane-2" src="../img/lp_main.png" />
      </a>
    </div>
    <div class="col-6_xs-12 padding-left--md">
      <p>After thousands of cans of La Croix and hundreds of Pizza Luce orders, Leadpages (the software) came to be as it exists today.</p>
      <br>
      <p>My job was to reskin the entire user interface and add new functionality. This required extensive gutting, as well as learning a bit of Python + Jinja in order to stay in line with the existing architecture and properly maintain the codebase. This was during a crucial period in the product's development, as we began to modularize our API's for cross-product use and integration.</p>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="grid padding-vertical--lg">
    <div class="col-6_xs-12 text-align--center">
      <h1>Elegance in design.</h1></div>
    <div class="col-6_md-6"></div>
  </div>
  <div class="grid">
    <div class="col-12">
      <img class="shadow-plane-2" src="../img/lp-gif_1.gif" />
    </div>
  </div>
  <div class="grid padding-vertical--lg">
    <hr class="home__hr"></hr>
    <div class="col-12 text-align--center padding-vertical--md">
      <h1>Cutting edge technologies.</h1>
    </div>
    <hr class="home__hr"></hr>
  </div>
  <div class="grid padding-horizontal--lg">
    <div class="col-3_sm-4">
      <div class="row__tools-img npm">
        <npm></npm>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <aurelia></aurelia>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <bitbucket></bitbucket>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <git></git>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <es6></es6>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <webpack></webpack>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <sass></sass>
      </div>
    </div>
    <div class="col-3_sm-4">
      <div class="row__tools-img">
        <jenkins></jenkins>
      </div>
    </div>
  </div>
  <div ng-include="'views/footer.html'"></div>
</div>
